<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr"> 
 
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
<title><%= @page_title %></title>
<style type="text/css">@import url(css/style.css);</style>
</head>
<body>
<div class="wrapper pkg"> 
  <div class="newsletter_result pkg"> 
<div style="font-family:Helvetica,arial,sans-serif;">

  <div style="padding-top:10px;padding-bottom:10px;">
    <div style="font-weight:bold;font-size:22px;padding:0;padding-left:25px;padding-bottom:8px;margin:0;"><span style="color:#a60b07;">Chicago Breaking News</span> <br /><span style="font-size:16px;font-weight:normal;">A roundup of today's must-read stories</span> <br /><span style="font-family:Georgia,Times,serif;font-size:12px;font-weight:normal;">Most viewed stories for <%= Time.now.strftime("%A, %B %e") %>:</span></div>
  </div>
  
<table width="800" style="padding:10px 20px 10px 20px;">

<% @stories.each_with_index do |story,idx| %>
  <tr class="pb_story_<%= idx %>">
    <td valign="top" style="padding-right:15px;padding-bottom:20px;">
    
      <a href="<%= story[:url] %>"><img style="border:1px solid #f0f0f0;padding:6px" src="<% if not story[:img].empty? %><%= story[:img] %><% else %>http://profile.ak.fbcdn.net/object2/122/28/n5953023255_3935.jpg<% end %>" border="0" width="100"></a>
    
    </td>
    
    <td valign="top">
    <h2 style="font-family:Georgia,'Times New Roman', 'Times', serif;font-weight:normal;font-size:18px;border-top:1px solid #cecece;padding-top:5px;margin-top:0;"><a href="<%= story[:url] %>" style="color:#343434;text-decoration:none;"><%= story[:hed] %></a></h2>
       
    <% if not story[:blurb].empty? %>
      <div class="blurb" style="font-family:Georgia,Times,serif;font-size:12px;"><%= story[:blurb] %>... <br /><a href="<%= story[:url] %>" style="color:#336699;text-decoration:none;">Read more &raquo;</a></div>
    <% end %>
    </td>
 
   </tr>
 
<% end %>

</table>
</div>
</div>

</div>
</body>
</html>
